:root {
    --branco: #FFF;
    --header-bg-color: #45040C;
    --border-button-color: #E5E3E3;
    --tittle-color: #CA8383;
    --tittle-alternate-color: #FFFDFD;
    --card-bg-color: #4F1619;
    --background-color: #131311;
    --placeholder-color: #848080;
    --background-pop-up: #E4B4BA;
    --background-text-pop-up: #792631;
}

@media screen and (min-width: 1024px) {
    header {
        width: 100%;
        height: 7.1875rem;
        background-color: var(--header-bg-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px;
    }
    
    #site-logo {
        width: 3.125rem;
        height: 3.75rem;
    }
    
    .dropdown > p {
        color: #FFF;    
        font-family: Roboto;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        cursor: pointer;
    }
    
    .navs .menu {
        position: absolute;
        top: 6rem;
        right: 100;
        background: var(--background-pop-up);
        padding: 0.5rem;
        border-radius: 0.9375rem;
        min-width: 14.5rem;
        min-height: 13.5rem;
        opacity: 0;
        visibility: hidden;
        transition: .3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .navs .menu ul {
        list-style: none;
        padding: 0rem 0.625rem;
        text-align: center;
    }
    
    .li-dropdown{
        background: var(--background-text-pop-up);
        width: 13.8125rem;
        margin-bottom: 0.4rem;
        border-radius: 1.8125rem;
    }
    
    .navs .menu.ativo {
        opacity: 1;
        visibility: visible;
    }
    
    
    .navs nav {
        display: flex;
        gap: 3.75rem;
    }
    
    a,
    #content-p {
        text-decoration: none;
        color: var(--branco);
        background: none;
        font-family: Roboto;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media screen and (min-width: 1440px) {
    header {
        width: 100%;
        height: 7.1875rem;
        background-color: var(--header-bg-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px;
    }
    
    #site-logo {
        width: 3.125rem;
        height: 3.75rem;
    }
    
    .dropdown > p {
        color: #FFF;    
        font-family: Roboto;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        cursor: pointer;
    }
    
    .navs .menu {
        position: absolute;
        top: 6rem;
        right: 100;
        background: var(--background-pop-up);
        padding: 0.5rem;
        border-radius: 0.9375rem;
        min-width: 14.5rem;
        min-height: 13.5rem;
        opacity: 0;
        visibility: hidden;
        transition: .3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .navs .menu ul {
        list-style: none;
        padding: 0rem 0.625rem;
        text-align: center;
    }
    
    .li-dropdown{
        background: var(--background-text-pop-up);
        width: 13.8125rem;
        margin-bottom: 0.4rem;
        border-radius: 1.8125rem;
    }
    
    .navs .menu.ativo {
        opacity: 1;
        visibility: visible;
    }
    
    
    .navs nav {
        display: flex;
        gap: 3.75rem;
    }
    
    a,
    #content-p {
        text-decoration: none;
        color: var(--branco);
        background: none;
        font-family: Roboto;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    #logout {
        width: 2rem;
        height: 3rem;
    }

    .user {
        display: flex;
        flex-direction: row;
    }

    button.logout {
        border: none;
        background: none;

        text-decoration: none;
        color: var(--branco);
        background: none;
        font-family: Roboto;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        cursor: pointer;
    }
}

