* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #000000;
}

.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-container > img {
    height: 3.75rem;
    width: 3.125rem;
    margin-bottom: 4rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form > input {
    width: 27rem;
    height: 3.5rem;
    border: none;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    background-color: #CA8383;
    border-radius: 10px;
    font-size: 19px;
    color: #FFF;
    outline: none;
}

input::placeholder {
    color: #FFF;
    font-family: Roboto;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

form > button {
    width: 9.75rem;
    height: 3rem;
    background-color: #6C4545;
    border: none;
    border-radius: 16px;
    color: #FFF;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

p {
    color: #FFF;
    font-size: 20px;
}

p > a {
    color: #CA8383;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
}