* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #45040C;
    --bg-color: #B5B5B4;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    height: 95vh;
}

.pg {
    padding-inline: 5rem 4rem;
    padding-block: 6.75rem 8.31rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10.38rem;
    height: 95vh;
}

.icon {
    width: 34,875rem;
    display: flex;
    margin-bottom: 4.4rem;
    gap: 0.4rem;
}

img {
    width: 9.5rem;
    height: 11rem;
}

h2 {
    font-family: Roboto;
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}