* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --branco: #FFF;
    --header-bg-color: #45040C;
    --login-color: #776342;
    --border-button-color: #E5E3E3;
    --tittle-color: #CA8383;
    --tittle-alternate-color: #FFFDFD;
    --card-bg-color: #4F1619;
    --background-color: #131311;
    --placeholder-color: #848080;
}

.pg-musculo {
    padding-inline: 5.75rem 6.94rem;
}

h1 {
    margin-bottom: 1.11rem;
}

#img-musculo-um {
    width: 22.875rem;
    height: 34.5945rem;
    margin-left: 1.2rem;
}

.box {
    display: flex;
    gap: 3.87rem;
    margin-bottom: 2.5rem;
}

ol {
    margin-left: 1.3rem;
}

ul {
    margin-left: 1.2rem;
}