* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--cinza);
}

:root {
    --background-color: #131311;
}

body {
    background-color: var(--background-color);
}