* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--cinza);
}

:root {
    --background-color: #131311;
}

body {
    background-color: var(--background-color);
}

.pg-esqueleto {
    padding-inline: 4.63rem 8.56rem;
}

.h1-div {
    margin-bottom: 2.5rem;
}

h1 {
    margin-bottom: 1.11rem;
}

.box {
    display: flex;
    gap: 3.81rem;
    margin-bottom: 2.5rem   ;
}

.fieldset {
    flex-direction: column;  
}

.img-box {
    margin-left: 1.75rem;
}

.p-fieldset {
    width: 48.375rem;
    height: 10.5rem;
    margin-right: 2.81rem;
}

.p-img {
    margin-bottom: 2.5rem;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-esqueleto-dois {
    width: 46rem;
    height: 32.5rem;
    flex-shrink: 0;
    margin-bottom: 2.5rem;
}

.ol {
    margin-left: 1.2rem;
}